body{
    background-color: rgb(220, 236, 160);
}

.addnewreq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#addnewreq-form{
    width: 600px;
    background-color: rgb(214, 214, 214);
    box-shadow: 2px 2px 8px rgb(98, 98, 98);
    border-radius: 6px;
    padding: 15px;
}


#ammount, #description, #authorfk, #resolverfk, #add-new-req-btn{
    width: 100%;
    padding: 5px;
}

#add-new-req-btn{
    border: none;
    background-color: rgb(41, 124, 233);
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

#addnewreq-message{
    margin-top: 150px;
    margin-bottom: 20px;
    color: black;
    padding: 4px;
    border-radius: 6px;
}
