
.fm-pend-card{
    background-color: rgb(184, 173, 173);
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-weight: bold;
    font-size: 13px;
    border-radius: 8px;

    box-shadow: 2px 2px 8px rgb(73, 73, 73);

}