body{
    background-color: rgb(125, 129, 61);
}


#emp-container{
    display: flex;
    justify-content: space-evenly;
}


.create-flex{
    display: flex;
    justify-content: space-evenly;
}


.emp-pend-card{
    background-color: rgb(184, 173, 173);
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-weight: bold;
    font-size: 13px;
    border-radius: 8px;

    box-shadow: 2px 2px 8px rgb(73, 73, 73);

}


#getallpasttickets-btn, #addnewreimbreq-btn{

    display: flex;
    flex-direction: column;
    border:rgb(14, 13, 13) ;
    background-color: rgb(158, 206, 228);
    color: rgb(14, 13, 13);
  
    border-radius: 6px;
    font-weight: bold;
}




