body{
    background-color: rgb(125, 129, 61);
}


.emp-past-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*
.create-flex{
    display: flex;
    justify-content: space-evenly;
}
*/

.header{
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: rgb(14, 13, 13);
    font-weight: bold;
}

.emp-past-card{
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-weight: bold;
    font-size: 13px;
    border-radius: 8px;

    box-shadow: 2px 2px 8px rgb(73, 73, 73);

}
