body{
    background-color: rgb(220, 236, 160);
}

#manager-container{
    display: flex;
    justify-content: center;
}

#create-flex{
    display: flex;
    justify-content: space-evenly;
}

.header{
    padding: 40px;
    text-align: left;
    background: #1abc9c;
    color: rgb(17, 17, 17);
    font-weight: bold;
}

.fm-pend-card{
    background-color: rgb(247, 232, 232);
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-weight: bold;
    font-size: 13px;
    border-radius: 8px;

    box-shadow: 2px 2px 8px rgb(26, 19, 19);

}


#approved-btn, #denied-btn{
   
    display: flex;
    justify-content: right;
    border:rgb(14, 13, 13) ;
    background-color: rgb(158, 206, 228);
    color: rgb(14, 13, 13);
  
    border-radius: 6px;
    font-weight: bold;
}

/*
#create-fm-form{
    position: fixed;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}*/


