
body{
    background-color: rgb(233, 108, 233);
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#login-form{
    width: 500px;
    background-color: rgb(214, 214, 214);
    box-shadow: 2px 2px 8px rgb(98, 98, 98);
    border-radius: 6px;
    padding: 15px;
    
}

#login-form div{

    margin: 10px;
}

#username, #password, #login-btn{
    width: 100%;
    padding: 5px;
}

#login-btn{
    border: none;
    background-color: rgb(41, 124, 233);
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

#login-message{
        margin-top: 150px;
        margin-bottom: 20px;
        color: black;
        padding: 4px;
        border-radius: 6px;
    
   
}


